In [1]:
import pandas as pd

data = {'age' : [24, 29, 57, 57],
       'name' : ['나', '누나', '아빠', '엄마'],
       'height' : [185, 165.5, 178.5, 162]}
x= pd.DataFrame(data, columns = ['name', 'age', 'height'])
x

  name  age  height
0    나   24   185.0
1   누나   29   165.5
2   아빠   57   178.5
3   엄마   57   162.0

In [2]:
#  2
x.age

0    24
1    29
2    57
3    57
Name: age, dtype: int64

In [3]:
#  3
x.iloc[0,:]

name        나
age        24
height    185
Name: 0, dtype: object

In [4]:
#  4
x.iloc[2,1]

57

In [ ]:
#  5
x.mean(axis=0)